beanie==1.29.0
boto3==1.38.16
certifi==2025.4.26
fastapi==0.115.12
motor==3.7.1
pydantic==2.11.4
pydantic_settings==2.9.1
pytest==8.3.5
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.20
rsa==4.9.1
s3transfer==0.12.0
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
toml==0.10.2
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
panoramisk==1.4
websocket-client==1.8.0
redis
python_jose==3.4.0
redis==6.1.0
Requests==2.32.3
uvicorn
email-validator
python-multipart
websocket-client==1.8.0
httpx
openai
pytz